<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <br>
            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    SwiftCeipt.com
                </div>
        </div>
    </nav>
    </footer>