


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#appview">Features</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#get-started">Get Started</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact-us">Contact</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#how-it-works">How it works</a>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="row">
                <ul class="list-inline intro-social-buttons">
                 <li>
                         <a href="https://www.facebook.com/swiftceipt/timeline"><i class="fa fa-facebook-square" style="font-size:24px"></i></i></a>
                    </li>
                    <li>
                         <a href="https://twitter.com/swiftceipt"><i class="fa fa-twitter-square" style="font-size:24px"></i></a>
                    </li>
                </ul>
             </div>
             <div class="row">
                <p class="copyright text-muted small">Copyright &copy; SwiftCeipt 2016. All Rights Reserved</p>
             </div>
        </div>
    </footer>