<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      
      
      
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" class="pull-left" class="img-responsive"><img src="/images/title-logo-1016.png"></a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard">dashboard</a></li>
        <li><a href="/logout">logout</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>