<div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/dashboard">Charts</a>
                </li>
                <li>
                    <a href = "/receipts">Receipts</a>
                </li>



                <li><a href='#'><span>Folders</span></a>
                    <ul>
                        <li><a href='#'><span>Folder 1</span></a></li>
                        <li><a href='#'><span>Folder 2</span></a></li>
                        <li class='last'><a href='#'><span>Folder 3</span></a></li>
                    </ul>
                </li>               
                <li>
                    <a href = "/receipts">Add new folder</a>
                </li>

                <li>
                    <a href = "/logout">Logout</a>
                </li>
            </ul>
        </div>