<div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/dashboard">Charts</a>
                </li>
                <li>
                    <a href = "/receipts">Receipts</a>
                </li>



                <li><a href='#'><span>Folders</span></a>
                    <% if (typeof folders == "object") { %>
                    <ul> <% for(var i = 0; i < folders.length; i++) { %>
                        <li><a href='#'><span><%= folders[i].folderName %></span></a></li>
                    <% } %>
                    </ul>
                </li>
                <% } else { %>
                <li>
                    No folders
                </li>
                <% } %>
                <li>
                    <a href = "/receipts">Add new folder</a>
                </li>
                <li>
                    <div id="new_folder_form">
                        <form action="/create_folder" method="post">
                            <input type="text" name = "folderName" placeholder="Folder Name">
                            <button class="btn-primary" type="submit">
                                Create Folder
                            </button>
                        </form>
                    </div>
                </li>

                <li>
                    <a href = "/logout">Logout</a>
                </li>
            </ul>
        </div>