<% include partials/headers %>

<% include partials/navbar-inside %>
<p>This is the dashboard</p>

<p>You are logged in as <%= session.email %> </p>
<p>Your auth token is: <%= session.authToken %> </p>

<a href = "/receipts">Receipts</a> <a href = "/logout">Logout</a>