<% include partials/headers %>

<% include partials/navbar-inside %>
<p>This is the dashboard</p>


<!-- graph data -->
<div id = "responseArea"></div>

<a href = "/receipts">Receipts</a> <a href = "/logout">Logout</a>
<a href = "/graph_data">Graph_data</a>