<html>
    <head>
        <% include partials/headers %>
        <title>Home</title>
    </head>
    <body>

        <% include partials/navbar %>
        
        
        <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>SwiftCeipt</h1>
                        <h3>Manage Receipts Effortlessly Forever</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/swiftceipt" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/swiftceipt/timeline" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://itunes.apple.com/us/app/swiftceipt/id1021496130?mt=8" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Download</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <a id="services"></a>
    <div class="content-section-a">
    <h4 style="text-align:center">key features</h4>
    <hr/>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" style="height: 270px; border-radius:2px" src="images/Receipts.jpeg" alt="">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Organize receipts</h3>
                    <p class="lead">You will feel reassured that your receipts are safe. We created Swiftceipt to help you keep track of your purchases.</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" style="height: 270px; border-radius:2px" src="images/crumpled paper1.png" alt="">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Lose the clutter</h3>
                    <p class="lead">SwiftCeipt is an efficient email scanner packed into a simple application. It takes your emailed digital receipts and conveniently organizes everything to your account.</p>
                </div>
                <div class="col-md-4">
                     <img class="img-responsive" style="height: 270px; border-radius:2px" src="images/man-person-hands-coffee.jpg" alt="">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Set up in seconds</h3>
                    <p class="lead">Simply register your profile with SwiftCeipt and then download the application for your mobile devices.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">
         <h4 style="text-align:center">Sign up for SwiftCeipt today</h4>
        <hr>
        <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
        <a href="/register" class="btn btn-default btn-lg" style="float:center"><span class="network-name">Register</span></a>
        </div>
        <div class="col-md-3">
        <a href="#" class="btn btn-default btn-lg" style="float:center"><span class="network-name">Subscribe</span></a>
        </div>
        <div class="col-md-2"></div>
        </div>
        <br>
        <br>

    </div>


        <% include partials/footer %>
    </body>
    
</html>