<html>
    <head>
        <% include partials/headers %>
        <title>Home</title>
    </head>
    <body>
        <% include partials/navbar %>
        
        <div id="slide-wrapper">
        <div id="slider">
            <div id="item">
                <img src="/images/hand-w-w-register.png">
                <div class="info">
                    <h2>BE MINDFUL OF YOUR RECEIPTS</h2>
                </div>
            </div>
            
            <div id="item">
                <img src="/images/hand-white-male-business-list.png">
                <div class="info">
                    <h2>TRANSACTIONS MADE SIMPLE</h2>
                    <h3>No hassle of managing more unwanted emails. Enjoy the peace of mind that you're reducing toxic paper waste.</h3>
                </div>
            </div>
            
            <div id="item">
                <img src="/images/hand-white-woman-watch-list.png">
                <div class="info">
                    <h2>MAKES ORGANIZING PURCHASES EASY</h2>
                    <h3>Simple to use Worry free</h3>
                </div>
            </div>    
        </div>
        </div>
        <br>
        <div class="container">
        <div class="row">

            <div class="col-md-2">
            <img src="/images/set-58.svg">
            </div>
            <div class="col-md-2">
            <br>
            </div>
            <div class="col-md-2">
            <img src="/images/set-58.svg">
            </div>
            <div class="col-md-2">
            <br>
            </div>
            <div class="col-md-2">
            <img src="/images/set-58.svg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>Lost receipts?</p>
                <p>No worries</p>
            </div>
            <div class="col-md-2">
            <br>
            </div>
            <div class="col-md-2">
                 <p>Chaotic crinkled mess?</p>
                <p>No longer</p>
            </div>
            <div class="col-md-2">
            <br>
            </div>
            <div class="col-md-2">
                 <p>Receipt transactions? Simple</p>
            </div>
        </div>
        </div>
        <% include partials/footer %>
    </body>
    
</html>