<html>
    <head>
        <% include partials/headers %>
        <title>Home</title>
    </head>
    <body>
        <% include partials/navbar %>
        <div id="slider">
            <div id="item">
                <img src="/images/hand-w-w-register.png">
                <div id="info">
                    <h2>BE MINDFUL OF YOUR RECEIPTS</h2>
                </div>
            </div>
            
            <div id="item">
                <img src="/images/hand-white-male-business-list.png">
                <div id="info">
                    <h2>TRANSACTIONS MADE SIMPLE</h2>
                    <h3>No hassle of managing more unwanted emails.
Enjoy the peace of mind that you're reducing 
toxic paper waste.</h3>
                </div>
            </div>
            
            <div id="item">
                <img src="/images/hand-white-woman-watch-list.png">
                <div id="info">
                    <h2>MAKES ORGANIZING 
PURCHASES EASY</h2>
                    <h3>Simple to use
Worry free</h3>
                </div>
            </div> 
        </div>
        <% include partials/footer %>
    </body>
    
</html>