<!-- 
  Login template largely taken from here: 
  http://getbootstrap.com/examples/signin/ 
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/headers %>
        <script type="text/javascript">
                $('#forgetModal').on('shown.bs.modal', function () { $('#myInput').focus()})
        </script>
    </head>

    <body>
        <% include partials/navbar %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            
            <form class="form-signin" action = "/login" method = "post">
                <h2 class="form-signin-heading">Login to SwiftCeipt</h2>

                <input type="text" name = "email" class="form-control" placeholder="Email address">

                <input type="password" name = "password" class="form-control" placeholder="Password">

                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <button type="button" class="btn btn-default btn-block" data-toggle = "modal" data-target="#forgetModal">
                    Forgot Password?
                </button>

                <br />

                <% if (typeof message != 'undefined') { %>
                    <div class="alert alert-<%= message.type %>" role = "alert">
                        <%= message.content %>
                    </div>
                <% } %>
            </form>

                <div class="modal fade" id="forgetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action = "/forget" method = "post">
                                <div class="modal-body">
                                        <div class="form-group">
                                            <label for="recipient-name" class="control-label">Enter Your Email:</label>
                                            <input type="text" class="form-control" id="recipient-name" name = "email">
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-lg btn-primary btn-block" type = "submit">Submit Reset Request</button>
                                    <button class="btn btn-default btn-block" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

        </div> <!-- /container -->
         <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <% include partials/footer %>
    </body>
</html>
