<html lang="en">
    <head>
        <% include partials/headers %>

        <style type="text/css">
        body
        {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
        }
        </style>
    </head>
    <body>
        <div class = "container">
            <% if (typeof receipts == "object") { %>
                <% for(var i = 0; i < receipts.length; i++) { %>
                    <div class = "row">
                        <%= receipts[i].name %>
                    </div>
                <% } %>
            <% } else { %>
                There are no receipts associated with this account 
            <% } %>
        </div>

    <p><a href = "/dashboard">Dashboard</a></p>
    </body>
</html>