<html>
    <head>
        <% include partials/headers %>
        <title>Home</title>
    </head>
    <body>
        <% include partials/navbar %>
        <div class = "container">
        	<div class = "col-md-8">
        		<table class = "table">
        			<thead>
        				<th>Item</th>
        				<th>Price</th>
        			</thead>
        			<tr>
        				<td>repeat as many times</td>
        				<td>asdf</td>
        			</tr>
        		</table>
        		<p>Subtotal</p>
        		<p>Sales Tax</p>
        		<p>Grand Total</p>
        	</div>
        </div>
        <% include partials/footer %>
    </body>
    
</html>