<html>
    <head>
        <% include partials/headers %>
        <title>Home</title>
    </head>
    <body>
        <% if(JSON.stringify(session) === JSON.stringify({})){%>
            <% include partials/navbar %>
        <% } else {%>
            <% include partials/navbar-inside %>
        <%}%>
        
        
        <div class="intro-header" style="background: url(images/city-people-street-sun.jpg) no-repeat center center;">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>We are here to help</h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>




        <% include partials/footer %>
    </body>
    
</html>