/*
    Largely adapted from:
    http://getbootstrap.com/examples/signin/
*/

body {
  padding-bottom: 40px;
  background-color: #eee;
  position: relative;
    overflow: auto;
}
.navbar-brand{
    padding-top: 5px;
}
.navbar-brand > img { 
    max-height: 40px; }

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: center;
}
.btn-primary {
    background: #F95722;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #ff3333;
}
.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox
{
  margin-bottom: 10px;
}

.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus
{
  z-index: 2;
    border-color: #F95722;
  box-shadow: inset 0 1px 1px rgba(249, 87, 34, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


.form-signin input[type="email"]
{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/hand-w-w-register.png) no-repeat center center;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    color: #F95722;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  color:#F95722;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.folder-group-item .hovered {
  background: #aaa;
}

/*
    Bootstrap Loading Icon
*/

.glyphicon-repeat
{
  font-size: 72px;
  color: #F95722;
  margin-top: 50%;
  animation-name: loading;
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}